<ion-header   >
  <ion-toolbar>
    <ion-title id="titulo">Sin Salud </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id="card" class="text-welcum">Bienvenido
    <ion-icon name="heart-dislike-outline"></ion-icon> </h1>
  <br>
<div class="logo">
  <h1 class="text"></h1>
  <img src="../../assets/SadPenis.jpg">
</div>

<div class="main-menu">
  <h3 class="text-welcum">accede a:</h3>
  <main class="menu">
    <ion-button [routerLink]="['/stock']" class="btn-menu" color="danger">Productos</ion-button>
    <ion-button [routerLink]="['/login']" class="btn-menu" color="danger">Iniciar Sesion</ion-button>
  </main>
</div>

<footer class="footer">
  <div class="text-foot">
    <h4 class="text">¿No tienes cuenta?</h4>
    <ion-button [routerLink]="['/crear-cuenta']" class="btn-admin" color="primary">Registrate</ion-button>
  </div>
</footer>

