*:not(footer, .text-welcum, .logo-prod){
    padding: 2%;
    margin: 5%;
}

.text{
    color:black;
}

.text-welcum{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: justify;
    justify-content: center;
    color:black;
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.logo{
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    justify-content: center;
    top: 5%;
    padding-top: 5%;
    border: solid black;
    background-color: whitesmoke;
}

.logo-ss{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    justify-content: center;
    top: 5%;
    padding-top: 5%;
    border: solid black;
  }


.categ{
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float:none;
}

.categ::after{
    content: "";
    clear: both;
    display: table;
}

.logo-prod{
    width: 100%;
    height: 10rem;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    justify-content: center;
    top: 5%;
    padding-top: 5%;
    border: solid black;
    background-color: whitesmoke;
}

.btn-menu{
    display: flex;
    justify-content: space-between;
    float: none;
    border-radius: 25%;
}

.btn-exit{
    height: 11%;
    width: 23%;
    display: flex;
    justify-content: space-between;
    float: left;
    border-radius: 25%;
    color: black;
}

.btn-carro{
    margin-top: 0%;
    height: 11%;
    width: 23%;
    display: flex;
    justify-content: space-between;
    float:right;
    border-radius: 25%;
    color: black;
}


.stock-menu{
    border: solid black;
    display: grid;
    gap: 50px 100px;
    padding: 5%;
    border-radius: 0.5%;
    background-color: #f33a2de8;
}

.footer{
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    height: 20%;
    background-color: black;
}
  